@media only screen and (max-width: 1200px) {
  body {
    font-family: "Evolventa", sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow-x: hidden;
    margin: 0;
    line-height: 1;
  }

  .background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
  }


  header .selectlink {
    font-size: 17px;
    min-width: 150px;
  }

  header .logo img {
    width: 220px;
    margin-left: 10px;
  }
  main.container1 {
    max-height: 210px;
    border-radius: 5px;
    margin-right: 90px;
    margin-left: 90px;
  }

  .main .text {
    padding: 0;
    font-size: 17px;
  }

  footer {
    .social-icons {
      position:absolute;
      width: 100%;
      margin-top: 246vw;
      display: flex;
      justify-content: center;
    }

    .social-icons a {
      margin: 0 20px;
    }

    .social-icons img {
      width: 37px;
      height: 32px;
      transition: transform 0.3s;
    }

    .social-icons a:hover img {
      transform: scale(1.7);
    }
  }
  .bg {
    background: black;
    margin-top:  163.3vw;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
  }
  .text_map {
    float: right;
    position: relative;
    margin-top: 115vw;
    width: 50%;
    justify-content: center;
    background: white;
    border-radius: 25px;
    font-family: 'BrassMono-Bold', sans-serif;
    margin-right: 25vw;
    box-shadow: 4px 4px 4px 2px rgba(128, 128, 128, 0.5);
    height: 250px;
}
  .photo img {
    margin-top: 158px;
    width: 100%;
  }

  .down_page {
    width: 100%;
    position: absolute;
    background-color: rgba(104, 104, 104, 0.75);
    margin-top: 253.7vw;
    text-align: end;
  }

  .down {
    color: black;
    font-size: 12px;
    padding: 10px;
    position: relative;

  }

  .text_map1 h1 {
    margin-top: 0;
    margin-right: 5vw;
    padding: 0;
  }

  .text_map2 h1 {
    font-weight: 600;
    margin-left: 2vw;
    margin-top: 1vw;
    position: relative;
    color: #494040;
    font-size: 15px;
  }

  .text_map2 p {
    display: flex;
    margin-left: 2vw;
    margin-top: 0.5vw;
    position: relative;
    color: #a49696;
    font-size: 15px;
  }
  .text_map3 h1 {
    font-weight: 600;
    margin-left: 2vw;
    margin-top: 2vw;
    position: relative;
    color: #494040;
    font-size: 15px;
  }

  .text_map3 p {
    margin-left: 2vw;
    margin-top: 0.5vw;
    position: relative;
    color: #a49696;
    font-size: 15px;
  }

  .text_map4 h1 {
    margin-right: 1vw;
    font-weight: 600;
    margin-top: -10vw;
    position: relative;
    text-align: right;
    color: #494040;
    font-size: 15px;
  }

  .text_map4 p {
    margin-right: 1vw;
    margin-top: 0.5vw;
    position: relative;
    text-align: right;
    color: #a49696;
    font-size: 15px;
  }
  .photo {
    position: absolute;
    margin-top: 35vw;
  }

  .qr {
    position: absolute;
    margin-top: 89vw;
    margin-left: 80vw;
  }

.qr img{
  width: 100%;
}

  #map {
    margin-top: 108vw;
    position: absolute;

  }



  .dropdown:hover .dropdown-content1, .dropdown-content1.touched {
    display: block;
    width: 36.5%;
  }
}

@media only screen and (max-width: 767px) {
  .background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
  }

  .bg {
    background: black;
    margin-top: 680px;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
  }

  header .selectlink {
    font-size: 14.5px;
    min-width: 50px;
  }

  header .logo img {
    width: 160px;
    margin-left: 0;
  }
  main.container1 {
    max-width: 300px;
    max-height: 180px;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .main .text {
    font-size: 14px;
    text-align: left;
  }

  .mains {
    h1 {
      display: flex;
      position: relative;

    }
  }

  .upp {
    font-size: 35px;
    margin-left: 10px;
    margin-top: 40px;
    font-weight: 700;
    text-align: left;
    text-indent: 20px;
    display: flex;
    position: absolute;
    color: white;
  }


}

@media only screen and (max-width: 576px) {
  html{
    height: 100%;
    width: 100%;
  }

  body {
    font-family: "Evolventa", sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow-x: hidden;
    margin: 0;
    line-height: 1;
  }

  .background img {
    height: auto;
   position: fixed;
    margin-left: -70vw;


  }

  .background {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    background-position: top center;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
  }

  .bg {
    background: black;
    margin-top: 200vw;
    position: absolute;
    height: 150%;
    width: 100%;
    overflow: hidden;
    display: flex;
  }


  header .logo img {
    visibility: hidden;
    width: 130px;
    margin-left: 0;
  }

  .selectlink-control, .selectlink {
    visibility: hidden;
  }

  main.container1 {
    text-align: unset;
    box-sizing: unset;
    padding: 10px;
    margin-top: 60vw;
    color: white;
    background-color: #00008B;
    max-width: 700px;
    max-height: 300px;
    height: 200px;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    position: absolute;
  }

  main.container2 {
    padding: 12px;
    margin-top: 10px;
    color: white;
    background-color: #00008B;
    max-width: 700px;
    max-height: 300px;
    height: 200px;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    position: absolute;
  }

  main.container3 {
    padding: 12px;
    margin-top: 124vw;
    color: white;
    background-color: #00008B;
    max-width: 700px;
    max-height: 300px;
    height: 200px;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    position: absolute;
  }

  .text {

    font-size: 15px;
  }


  .mains h1 {
    margin-top: -100px;
    font-size: 60px;
    margin-left: 10px;
  }
  .dropdown {
    margin: 50px;
  }
  .dropdown h3 {
    font-size: 19px;
    margin-left: -10px;

  }

  .dropdown-content1 {
    font-size: 14px;
    margin-left: -20px;

  }
  .dropdown:hover .dropdown-content1, .dropdown-content1.touched {
    width: 81.4%;
  }

  footer {
    .social-icons {
      position:absolute;
      width: 100%;
      margin-top: 455vw;
      display: flex;
      justify-content: center;
    }

    .social-icons a {
      margin: 0 20px;
    }

    .social-icons img {
      width: 25px;
      height: 28px;
      transition: transform 0.3s;
    }

    .social-icons a:hover img {
      transform: scale(1.7);
    }
  }
  .wrapper {
    visibility: initial;
    position: absolute;
  }
  .heads {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
  }
  .header_menu {
    padding: 75px 0px 0px 0px;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 35%;
    line-height: 30px;
    background-color: rgb(1, 1, 1, 100);
    transition: all 0.6s ease 0s;
  }

  .header_menu.active {
    top: 0;
  }

  .heads:before {
    z-index: 2;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00008B;
  }
  .header_logo {
    margin-left: 10px;
    z-index: 2;
  }
  .header_body {
    position: relative;
    justify-content: space-between;
    display: flex;
    height: 55px;
    align-items: center;
  }
  .header_list {
    display: block;
  }
  .header_list li {
    margin: 0px 0px 0px 20px;
  }
  .header_link {
    border-radius: 4px;
    text-decoration: none;
    font-size: 17px;
    color: white;
  }
  .header_link:hover {
    color: red;
  }

  .header_burger {
    display: block;
    position: absolute;
    z-index: 3;
    margin-left: 85vw;
    width: 30px;
    height: 20px;
  }
  .header_burger span {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.5s ease 0s;
  }
  .header_burger:before,
  .header_burger:after {
    content: '';
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    transition: all 0.5s ease 0s;
  }

  .header_burger:before {
    top: 0;
  }
  .header_burger:after {
    bottom: 0;
  }
  .header_burger.active span {
    transform: scale(0);
  }
  .header_burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header_burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;

  }

  #map {
    width: 0;
  }

  .photo img {
    position: absolute;
  }

  .mapped {
    visibility: hidden;

  }

  .qr {
    margin-top: 170vw;
    width: 110px;
    margin-left: 10vw;
  }

  .text_sibgiu {
    margin-top: auto;
    position: absolute;
margin-left: 10px;
    color: white;
  }

  .text_sibgiu span {
    color: black;
background: white;



  }


  .text_sibgiu li {
    list-style-type: none;
     margin-left: 3px;
    padding: 3.2px;
  }

  .text_sibgiu li:before {
    content: "■";
    color: #ea1212;
    font-size: 130%;
    padding-right: 10px;
  }


  .text_sibgiu2 li {
    list-style-type: none;
    margin-left: 3px;
  }

  .text_sibgiu2 li:before {
    content: "■";
    color: #00ffb3;
    font-size: 130%;
    padding-right: 10px;
  }

  .text_sibgiu3 li {
    list-style-type: none;
    margin-left: 3px;

  }

  .text_sibgiu3 li:before {
    content: "■";
    color: #be00ff;
    font-size: 130%;
    padding-right: 10px;
  }

  .text_sibgiu4 li {
    list-style-type: none;
    margin-left: 3px;

  }

  .text_sibgiu4 li:before {
    content: "■";
    color: #627c3a;
    font-size: 130%;
    padding-right: 10px;
  }

  .text_sibgiu5 li {
    list-style-type: none;
    margin-left: 3px;

  }

  .text_sibgiu5 li:before {
    content: "■";
    color: #ff00a6;
    font-size: 130%;
    padding-right: 10px;
  }

  .text_sibgiu6 li {
    list-style-type: none;
    margin-left: 3px;
  }

  .text_sibgiu6 li:before {
    content: "■";
    color: #ff7300;
    font-size: 130%;
    padding-right: 10px;
  }









  .down_page {
    width: 100%;
    position: absolute;
    background-color: rgba(104, 104, 104, 0.75);
    margin-top: 500vw;
  }

  .down {
    color: black;
    position: relative;
    font-size: 12px;
    padding: 10px;
  }

  .down a {
    text-decoration: none;
    color: blueviolet;
  }
}

