@media only screen and (max-width: 1200px) {
.background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
}


  header .selectlink {
    font-size: 17px;
    min-width: 150px;
  }

  header .logo img {
    width: 220px;
    margin-left: 10px;
  }
  main.container1 {
    max-height: 210px;
    border-radius: 5px;
    margin-right: 90px;
    margin-left: 90px;
  }

  .main .text {
    padding: 0;
    font-size: 17px;
  }

  footer {
    .social-icons {
      margin-top: 360px;
      position: relative;
      display: flex;
      justify-content: center;
    }

    .social-icons a {
      margin: 0 20px;
    }

    .social-icons img {
      width: 37px;
      height: 32px;
      transition: transform 0.3s;
    }

    .social-icons a:hover img {
      transform: scale(1.7);
    }
  }
  .bg {
    background: black;
    margin-top: 63.5px;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
  }

  .dropdown:hover .dropdown-content1, .dropdown-content1.touched {
    display: block;
    width: 36.5%;
  }
}

@media only screen and (max-width: 767px) {
  .background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
  }

  .bg {
    background: black;
    margin-top: 680px;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
  }

  header .selectlink {
    font-size: 14.5px;
    min-width: 50px;
  }

  header .logo img {
    width: 160px;
    margin-left: 0;
  }
  main.container1 {
    max-width: 300px;
    max-height: 180px;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .main .text {
    font-size: 14px;
    text-align: left;
  }

  .mains {
    h1 {
      display: flex;
      position: relative;

    }
  }

  .upp {
    font-size: 35px;
    margin-left: 10px;
    margin-top: 40px;
    font-weight: 700;
    text-align: left;
    text-indent: 20px;
    display: flex;
    position: absolute;
    color: white;
  }


}

@media only screen and (max-width: 432px) {

  .background {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;

    background-position: top center;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
  }

  .bg {
    background: black;
    margin-top: -624px;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
  }


  header .selectlink {
    font-size: 17px;
    min-width: 50px;
  }

  header .logo img {
    width: 130px;
    margin-left: 0;
  }
  main.container1 {
    max-height: 210px;
    border-radius: 5px;
    margin-right: 90px;
    margin-left: 90px;
  }

  .main .text {
    padding: 0;
    font-size: 17px;
  }

.mains h1 {
  margin-top: 30px;
  font-size: 60px;
  margin-right: 20px;
}

  .dropdown h3 {
    font-size: 17px;
margin-left: -50px;

  }

  .dropdown-content1 {
font-size: 14px;
    margin-left: -53px;

  }
  .dropdown:hover .dropdown-content1, .dropdown-content1.touched {
    width: 68%;
  }

  footer {
    .social-icons {
      margin-top: 650px;
      position: relative;
      display: flex;
      justify-content: center;
    }

    .social-icons a {
      margin: 0 20px;
    }

    .social-icons img {
      width: 25px;
      height: 28px;
      transition: transform 0.3s;
    }

    .social-icons a:hover img {
      transform: scale(1.7);
    }
  }

}