/* reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

@font-face {
  font-family: "Evolventa";
  src: url("../font/Evolventa-Bold.ttf");
}

body {
  font-family: "Evolventa", sans-serif;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow-x: hidden;
  margin: 0;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end reset*/
canvas {
  display: block;
  vertical-align: bottom;
}


.background {
  position: absolute;
  overflow: hidden;
  display: flex;
  width: auto;
  height: auto;
  background-repeat: no-repeat;
}

.rasp {
  position: relative;
  text-align: center;
}

.rasp h1 {
  position: relative;
  color: black;
  display: inline-block;
  background-color: #ffffff;
  font-size: 40px;
  padding: 20px 28.2px;
  margin-top: 110px;
  font-weight: 700;

}

main {
margin-right: 23px;
  margin-top: 30vw;
  text-align: center;
  margin-left: 33px;
}

main a {
  display: block;
  padding: 40px 70px;
  text-decoration: none;
  color: black;

}

.kyrs1 {
  background-color: white;
  position: relative;

}

.kyrs2 {
  background-color: white;
  position: relative;
}

.kyrs3 {
  background-color: white;
  position: relative;
}

.kyrs4 {
  background-color: white;
  position: relative;
}

.kyrs5 {
  background-color: white;
  position: relative;

}



