/* reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

@font-face {
  font-family: "Evolventa";
  src: url("../font/Evolventa-Bold.ttf");
}

body {
  font-family: "Evolventa", sans-serif;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow-x: hidden;
  margin: 0;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end reset*/
canvas {
  display: block;
  vertical-align: bottom;
}


@media screen and (max-width: 480px) {
  .body_pointer {
    cursor: pointer;
  }
}

.rasp {
  position: relative;
  text-align: center;
}

.rasp h1 {
  position: relative;
  color: honeydew;
  display: inline-block;
  background-color: #443737;
  font-size: 40px;
  padding: 20px 28.2px;
  margin-top: 15vw;
  font-weight: 700;

}

main {
margin-right: 23px;
  margin-top: 4vw;
  text-align: center;
  margin-left: 30px;
  padding: 70px 70px;
}

main a {
  display: block;
  padding: 80px 30px;
  text-decoration: none;
  color: black;
 font-size: 20px;
}

.kyrs1 {
  background-color: white;
  position: relative;


}

.kyrs2 {
  background-color: white;
  position: relative;
  margin-top: 25px;
}

.kyrs3 {
  background-color: white;
  position: relative;
  margin-top: 25px;
}

.kyrs4 {
  background-color: white;
  position: relative;
  margin-top: 25px;
}

.kyrs5 {
  background-color: white;
  position: relative;
  margin-top: 25px;

}

.down_page {
  background: #c3c3c3;
  position: relative;
  margin-top: 2vw;
}

.down {
  color: black;
  position: relative;
  font-size: 10px;
  margin-left: 10vw;
  margin-top: 5vw;
  padding: 15px;

}

.down a {
  text-decoration: none;
  color: blueviolet;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;

}

.down a:hover{
  color: rgb(250, 11, 11, 100);
}

.background {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  background-position: top center;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
}

.dropdown:hover .dropdown-content1, .dropdown-content1.touched {
  display: block;
  width: 23.2%;
}



.bg {
  background: #696969;
  margin-top: -900px;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
}

.container1 {
  max-width: 500px;
  max-height: 300px;
  margin-left: 85px;
  margin-right: 0;
  margin-top: 60px;
  text-align: justify;
  padding: 5px 5px;
  flex-direction: column;
  border: none;
  position: relative;
  display: block;
  gap: 70px;
  box-sizing: border-box;
  border-radius: 5px;
  background: #3574e8;
  align-items: center;
}

.container2 {
  max-width: 500px;
  max-height: 300px;
  margin-left: 85px;
  margin-right: 0;
  margin-top: 60px;
  text-align: justify;
  padding: 5px 5px;
  flex-direction: column;
  border: none;
  position: relative;
  display: block;
  gap: 70px;
  box-sizing: border-box;
  border-radius: 5px;
  background: #3574e8;
  align-items: center;
}

.container3 {
  max-width: 500px;
  max-height: 300px;
  margin-left: 85px;
  margin-right: 0;
  margin-top: 60px;
  text-align: justify;
  padding: 5px 5px;
  flex-direction: column;
  border: none;
  position: relative;
  display: block;
  gap: 70px;
  box-sizing: border-box;
  border-radius: 5px;
  background: #3574e8;
  align-items: center;
}


