/* reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  color: white;
  font-family: "courier", sans-serif;
  line-height: 1;
  margin: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end reset*/


.background {
  position: absolute;
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 150px;
  padding-bottom: 200px;
  overflow: hidden;
}


header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;

  .logo {
    img {
      max-width: 600px;
      width: 222px;
      cursor: pointer;
    }
  }

  .bottom {
    font-size: 22px;
    margin: auto;
    align-items: center;


    .menu {
      gap: 31px;
      display: flex;

      &-item {
        display: inline-block;
        min-width: 300px;
        padding: 20px 5px;
        text-align: center;
        border: 3px white;
        border-radius: 8px;
        cursor: pointer;

        &:hover {
          background-color: rgba(200, 200, 200, 0.5);
        }
      }
    }
  }
}

.container {
  max-width: 900px;
  margin-left: 600px;
  text-align: justify;
}

.main {
  .text-block {
    position: relative;
    display: flex;
    align-items: center;
    gap: 32px;
    border-bottom: 1px solid rgba(255, 0, 0, 0.5);

    &.revert {
      flex-direction: row-reverse;
    }

    &:last-child {
      gap: 0;
      border-bottom: none;
    }

    img {
      align-items: center;
      max-width: 240px;
    }

    .text {
      padding: 25px;
      font-size: 20px;
      letter-spacing: 1.5px;
    }
  }
}



