/* reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  color: white;
  font-family: "zx", sans-serif;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end reset*/
canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #a6caf0;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 150% 150%;
}

/* ---- stats.js ---- */
.background {
  position: absolute;
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 150px;
  padding-bottom: 200px;
  overflow: hidden;
}

//кнопочки
header {
  border: none;
  background: #bed2f7;
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 20px;
  justify-content: space-between;
  padding: 15px;
  height: 70px;

  .logo {
    img {
      max-width: 600px;
      width: 222px;
      cursor: pointer;
    }
  }

  .bottom {
    justify-content: space-between;
    display: block;
    font-weight: 700;
    font-size: 30px;
    margin: 11px auto;
    color: #00008B;
    align-items: center;
    text-align: center;
  }
}


.selectlink {
  white-space: nowrap;
  margin: 0;
  font-family: "courier", sans-serif;
  cursor: pointer;
  font-size: 26px;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  position: relative;
  outline: none;
  padding-right: 0;
  display: inline-block;
  min-width: 270px;
  border: 2px white;
  border-radius: 7px;

  &:hover {
    background-color: rgba(138, 103, 126, 0.35);
  }
}

.selectlink-control {
  position: relative;
  display: inline-block;
  padding: 20px 14px;
  border: none;
  border-radius: 6px;
  background: none;
  cursor: pointer;

}

.selectlink-control:after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 5px;
  top: 5px;
}

.selectlink ul {
  display: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  max-height: 200px;
  position: absolute;
  top: 100%;
  left: 0px;
  border: 0.5px solid white;
  border-top: none;
  background: #4169E1;
  z-index: 9999;
  overflow: auto;
  user-select: none;
}

.selectlink li {
  display: block;
  margin: 0;
  padding: 0;
}

.selectlink li a {
  position: relative;
  display: block;
  margin: 0;
  padding: 4px 6px 4px 15px;
  font-weight: 550;
  font-size: 1em;
  line-height: 1.1;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.selectlink li a:hover {
  background: #444b52;
  color: white;
}

@media screen and (max-width: 700px) {
  .body_pointer {
    cursor: pointer;
  }
}

main {
  .main-text {
    border: none;
    box-sizing: border-box;
    position: relative;
    border-radius: 20px;
    padding: 20px;
    gap: 100px;
    background: #3574e8;
    width: 60%;
    margin: 100px 490px;
    display: block;
  }
}

.text-block {
  padding: 10px;
  text-align: left;
  font-size: 20px;


}

